table#sudoku td {
    height: 30px;
    width: 30px;
    border: solid saddlebrown 3px; 
    /* border-radius: 10px; */
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

.boxes{
    background-color: #ffab73;     
}

.boxes1{
   background-color: #fde8cd;
}

button#reset {
    padding: 8px;
    background-color: lightslategray;
    font-size: 20pt;
    color: white;
}

.blueColor{
    color:rgb(55, 0, 255);
}

table#inputTable td {
    height: 30px;
    width: 30px;
    border: solid saddlebrown 3px; 
    border-radius: 10px; 
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

table#inputTable{
    margin-left: 50px;
}